version: "3.9"
services:
  frontend:
    build: ./frontend
    container_name: frontend-app
    ports:
      - "3000:3000"
    networks:
      - nodeapp-nw
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: backend-app
    environment:
      - MONGO_URL=mongodb://mongo:27017/mydb
    ports:
      - "5000:5000"
    networks:
      - nodeapp-nw
    depends_on:
      - db

  db:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    networks:
      - nodeapp-nw
    volumes:
      - mongo-data:/data/db

networks:
  nodeapp-nw:

volumes:
  mongo-data:
